config ARM64
	def_bool y
	help
	  ARM 64-bit (AArch64) support.

config 64BIT
	def_bool y

choice
	prompt "Uart for Pi"
	default PI_MINI_UART

config PI_MINI_UART
	bool "mini_uart"

config PI_PL_UART
	bool "pl_uart"
endchoice

#source "kernel/Kconfig"
source "init/Kconfig"
